.navbar {
    padding: 8px;
    background-image: linear-gradient(to right, rgb(104, 13, 13), rgb(197, 58, 58), rgb(104, 13, 13)); 
    transition: color 0.3s ease;
    color: rgb(255, 255, 3);
}
.navbar:hover{
    color: rgb(255, 255, 255);
}