@font-face {
    font-family: playfairdisplay;
    src: url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
}

.playFairFont {
     font-family: playfairdisplay;
}

.themeGradient {
        background-image: linear-gradient(to right, rgb(81, 10, 10), rgb(119, 27, 27)); 
}

.themeColorDark1 {
        background-color: rgb(81, 10, 10);
}

.themeColorLight1 {
        background-color: rgb(119, 27, 27);
}

